/*==================================================================================
------------------------------- Color Related Variables ---------------------------
===================================================================================*/

$white_color: #fff;
$body_color:#3d3d3d;
$primary_color:#0f233a; 
$active_color: #ffbd20;
$secondary_color:#ed9532;

/*==================================================================================
------------------------------- Font Family Variables ---------------------------
===================================================================================*/

$primary_font_family: 'Roboto', sans-serif;
$font_awesome: "FontAwesome";

/*==================================================================================
----------------------------- Media Query Related Variables ------------------------
===================================================================================*/

$small_mob_min: 320px;
$large_mob_max: 767px;

/*==================================================================================
------------------------------- End Declearing Variables ---------------------------
===================================================================================*/

$white_color0: #cccccc;
$white_color1: #989898;
$white_color2: #a6a6a6;
$white_color3: #cfcfcf;
$white_color4: #bfbfbf;
$white_color5: #767676;
$white_color6: #666666;


$background_color_1: #ccc;
$background_color_2: #f1f1f1;
$border_color_3: rgba(255, 255, 255, 0.2);



$primary_active_color:#EE8221;
$secondary_active_color:#BF2F19;