/*menu fields*/
.centurylib-megamenu-wrapper {
  clear: both;
  overflow: hidden;
  display: block; }

.centurylib-menu-field-wrapper {
  display: none;
  margin: 0 0 10px; }
  .centurylib-menu-field-wrapper.centurylib-icons-wrapper {
    display: block; }

.menu-item-depth-0 .centurylib-menu-field-wrapper {
  display: block; }

/*Icons field*/
.centurylib-icon-header {
  background-color: #f3f3f3; }
  .centurylib-icon-header .centurylib-icon-preview {
    border-radius: 0px;
    margin-bottom: 0px; }
  .centurylib-icon-header .icon-toggle {
    color: #fff;
    padding: 0 10px;
    border-radius: 0px;
    background-color: #00a0d2; }
    .centurylib-icon-header .icon-toggle span {
      color: #fff;
      height: auto;
      width: auto;
      line-height: 40px; }
  .centurylib-icon-header .remove-icon {
    color: #fff;
    float: right;
    padding: 0 10px;
    margin-left: 10px;
    border-radius: 0px;
    line-height: 40px;
    cursor: pointer;
    background-color: #00a0d2; }
    .centurylib-icon-header .remove-icon span {
      line-height: 40px; }
  .centurylib-icon-header:after {
    content: "";
    display: block;
    clear: both; }

.tcy-widget-repeater-heading {
  display: block;
  font-size: 1em;
  line-height: 1;
  overflow: hidden;
  font-weight: 600;
  padding: 15px 10px;
  margin: 0 -15px 15px;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  background-color: #f1f1f1; }

.centurylib-main-repeater {
  padding-bottom: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.centurylib-repeater-field-control-wrap {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.centurylib-hidden-field {
  display: none; }

.centurylib-repeater-top {
  padding: 0;
  cursor: move;
  background-color: #fafafa;
  color: #23282d;
  line-height: 1.4em;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.centurylib-repeater-title h3, .centurylib-repeater-title h4 {
  -moz-user-select: none;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 15px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.centurylib-repeater-title-action {
  float: right;
  position: relative; }

.centurylib-repeater-action {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
  margin: 0;
  outline: 0 none;
  padding: 10px;
  color: #555d66; }
  .centurylib-repeater-action .te-toggle-indicator:before {
    border-radius: 50%;
    padding: 1px 2px 1px 0;
    display: block;
    font: 400 20px/1 dashicons;
    content: "\f140";
    text-decoration: none; }

.repeater-field-control,
.tcy-widget-repeater-table {
  margin: 0 auto 10px;
  background-color: #fafafa;
  border: 1px solid #f1f1f1; }
  .repeater-field-control > .tcy-widget-repeater-table,
  .tcy-widget-repeater-table > .tcy-widget-repeater-table {
    /*this css need to written because same class repated we need to fix it only when we added row on repeater*/
    margin-bottom: 0px; }

.tcy-widget-repeater-table.open .centurylib-repeater-action .te-toggle-indicator:before {
  content: "\f142"; }

.repeater-fields,
.centurylib-inside-repeater {
  line-height: 16px;
  padding: 10px 15px 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.tcy-sortable-placeholder {
  border: 1px dashed #b4b9be;
  margin: 0 auto 10px;
  height: 45px;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.centurylib-icons-wrapper .icons-list-wrapper {
  height: 180px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%; }

.tcy-widget-repeater-wrapper {
  border: 1px solid #dedede;
  padding: 0 15px 15px;
  margin: 0 0 15px; }

.icons-list-wrapper .single-icon {
  display: block;
  float: left;
  padding: 12px;
  height: 20px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%; }
  .icons-list-wrapper .single-icon.selected, .icons-list-wrapper .single-icon:hover {
    background: #00a0d2;
    color: #fff; }

.centurylib-icon-preview,
.icon-toggle {
  height: 40px;
  color: #fff;
  min-width: 40px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 8px;
  padding-bottom: 3px;
  display: inline-block;
  background-color: #00a0d2; }

.centurylib-icon-preview i {
  font-size: 25px;
  padding: 9px; }

.icon-toggle,
.icon-toggle span {
  background: 0 0;
  border: none;
  color: #2d2d2d;
  float: right;
  font-size: 17px;
  line-height: 40px; }

.icon-toggle span {
  font-size: 20px; }

.single-icon {
  cursor: pointer; }

.hide-radio {
  position: relative;
  margin-bottom: 6px; }

.hide-radio img,
.hide-radio label {
  display: block; }

.hide-radio input[type=radio] {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0; }

.hide-radio input[type=radio] + label {
  border: 3px solid #f1f1f1; }

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #f88c00; }

.radio-image-wrapper {
  float: left;
  margin-right: 30px; }

.centurylib-multiple-checkbox {
  max-height: 150px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  list-style: none; }
  .centurylib-multiple-checkbox ul, .centurylib-multiple-checkbox ol {
    margin-top: 8px;
    padding-left: 18px; }

.feature-first-promo {
  border-bottom: 2px solid #ddd; }

.hide-radio {
  float: left;
  position: relative;
  margin: 0 10px 10px 0; }

.hide-radio img,
.hide-radio label {
  display: block; }

.hide-radio input[type=radio] {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0; }

.hide-radio input[type=radio] + label {
  border: 3px solid #f1f1f1; }

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #f88c00; }

div[id*="newsmagazine"].widget .widget-title h3 {
  border-left: 5px solid #f28b00; }

/*admin tab*/
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.centurylib-tab-contents {
  display: none; }

.newsmagazine-postbox img {
  max-width: 100%;
  height: auto; }

.newsmagazine-bottom-actions {
  padding: 10px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5; }
  .newsmagazine-bottom-actions .btn {
    margin: 3px 1px; }

#poststuff .newsmagazine-top-title {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
  background: #0085ba; }

#poststuff .centurylib-tab-contents h2 {
  padding: 20px 12px 8px 0;
  font-size: 1.6em; }

.newsmagazine_widget_field {
  margin: 1em 0;
  clear: both; }

.newsmagazine_widget_icon_wrap {
  position: relative; }
  .newsmagazine_widget_icon_wrap .widefat {
    padding-right: 40px; }
  .newsmagazine_widget_icon_wrap .newsmagazine_icon {
    top: -2px;
    right: 0;
    width: 35px;
    height: 30px;
    color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
    position: absolute;
    background: #006799;
    border-radius: 3px; }

.wp-picker-container {
  display: block;
  padding-top: 5px; }

.tcy-hidden {
  display: none; }
  .tcy-hidden[type="radio"], .tcy-hidden[type="checkbox"] {
    display: none; }

.tcy-widget-field-tab-wraper .nav-tab-wrapper {
  border-bottom: 0px; }

.centurylib-tab-contents {
  display: none;
  border: 1px solid #dedede;
  padding: 0 15px;
  background-color: #fdfdfd;
  border-width: 1px 0px; }
  .centurylib-tab-contents.centurylib-tab-active {
    display: block; }

.widget-content .centurylib-tab-contents {
  margin: 0 -15px 15px; }

/*icon picker*/
.popover-title input[type="search"] {
  width: 100%; }

.iconpicker-popover.popover {
  width: auto;
  position: static;
  border: 1px solid #dedede; }

/*customizer*/
.newsmagazine-customize-customize-message h2 {
  margin: 0; }

#customize-control-newsmagazine_theme_options-newsmagazine-first-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-icon, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-title, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-link, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-icon, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-title, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-link, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-icon, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-title, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-link, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-icon, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-title, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-link {
  margin-bottom: 0px;
  padding: 0 12px 12px;
  background-color: #f2f2f2;
  border: 1px solid #f28b00;
  border-width: 0 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  #customize-control-newsmagazine_theme_options-newsmagazine-first-info-message .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-message .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-icon .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-icon .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-title .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-title .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-link .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-link .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-message .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-message .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-icon .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-icon .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-title .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-title .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-link .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-link .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-message .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-message .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-icon .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-icon .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-title .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-title .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-link .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-link .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-message .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-message .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-icon .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-icon .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-title .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-title .icon-toggle span, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-link .icon-toggle, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-link .icon-toggle span {
    background: #f2f2f2; }
  #customize-control-newsmagazine_theme_options-newsmagazine-first-info-message hr, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-icon hr, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-title hr, #customize-control-newsmagazine_theme_options-newsmagazine-first-info-link hr, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-message hr, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-icon hr, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-title hr, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-link hr, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-message hr, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-icon hr, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-title hr, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-link hr, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-message hr, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-icon hr, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-title hr, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-link hr {
    display: none; }

#customize-control-newsmagazine_theme_options-newsmagazine-first-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-message, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-message {
  border-top: 1px solid #f28b00;
  padding: 12px 12px 0; }

#customize-control-newsmagazine_theme_options-newsmagazine-first-info-link, #customize-control-newsmagazine_theme_options-newsmagazine-second-info-link, #customize-control-newsmagazine_theme_options-newsmagazine-third-info-link, #customize-control-newsmagazine_theme_options-newsmagazine-forth-info-link {
  border-bottom: 1px solid #f28b00;
  margin-bottom: 12px; }

/*accordion for widget*/
.centurylib-accordion-title {
  display: block;
  background: #f1f1f1;
  line-height: 30px;
  text-transform: uppercase;
  padding: 5px 35px 5px 15px;
  position: relative; }
  .centurylib-accordion-title .centurylib-accordion-arrow {
    top: 0;
    right: 0;
    width: 30px;
    height: 40px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 18px; }

.tcy-widget-accordion-wrapper {
  padding-top: 10px; }

.centurylib-accordion-wrapper {
  margin-bottom: 10px; }
  .centurylib-accordion-wrapper .centurylib-accordion-content {
    display: none;
    padding: 10px 15px;
    background: #fafafa; }
  .centurylib-accordion-wrapper.open .centurylib-accordion-content {
    display: block; }

.centurylib-theme-info a {
  display: block;
  padding: 4px 10px;
  text-decoration: none;
  text-align: left; }
/*# sourceMappingURL=tcy-admin-styles.css.map */
