/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
#customize-theme-controls .control-section-upsell {
  display: list-item !important; }

.wp-core-ui .control-section-upsell .button-secondary {
  color: #fff;
  display: block;
  margin-top: -3px;
  font-weight: 700;
  background: #ed9532;
  border-color: #ed9532; }

.learn-press-addons {
  display: none; }

#learn-press-advertisement {
  display: none; }

#adminmenu a[href='admin.php?page=learn-press-addons'] {
  display: none; }
/*# sourceMappingURL=hmc-admin-style.css.map */
