/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
/*==================================================================================
------------------------------- Color Related Variables ---------------------------
===================================================================================*/
/*==================================================================================
------------------------------- Font Family Variables ---------------------------
===================================================================================*/
/*==================================================================================
----------------------------- Media Query Related Variables ------------------------
===================================================================================*/
/*==================================================================================
------------------------------- End Declearing Variables ---------------------------
===================================================================================*/
/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
.events-list .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.tribe-events-day .tribe-events-loop {
  max-width: 100%; }

.hamroclas-event-list-item {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(162, 154, 154, 0.13);
          box-shadow: 0px 0px 15px 0px rgba(162, 154, 154, 0.13);
  padding: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .hamroclas-event-list-item .tribe-events-event-cost span {
    background-color: #ed9532;
    color: #fff;
    border: 0;
    border-radius: 5px; }
  .hamroclas-event-list-item .hamroclass-event-list-image {
    position: relative;
    width: 30%; }
    @media (max-width: 640px) {
      .hamroclas-event-list-item .hamroclass-event-list-image {
        width: 100%; } }
    .hamroclas-event-list-item .hamroclass-event-list-image .tribe-events-event-image {
      float: none;
      margin: 0;
      width: 100%; }
    .hamroclas-event-list-item .hamroclass-event-list-image .tribe-events-event-cost {
      position: absolute;
      left: 10px;
      top: 10px; }
    .hamroclas-event-list-item .hamroclass-event-list-image + .hamroclass-event-list-content {
      width: 70%;
      padding-left: 15px; }
      @media (max-width: 640px) {
        .hamroclas-event-list-item .hamroclass-event-list-image + .hamroclass-event-list-content {
          width: 100%;
          padding-left: 0; } }
  .hamroclas-event-list-item .hamroclass-event-list-content .tribe-events-content {
    float: none; }
  .hamroclas-event-list-item .hamroclass-event-list-content .tribe-events-venue-details {
    font-style: none; }

.tribe-events-list .tribe-events-loop .tribe-event-featured {
  background-color: transparent;
  padding: 0; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost {
    margin: 0; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-image {
    margin: 0; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured .hamroclass-event-list-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #ed9532 transparent transparent; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title {
    margin-top: 0; }
    .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a {
      color: #0f233a; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured a {
    color: #0f233a; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-meta, .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-content {
    color: #3d3d3d; }
  .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .ticket-cost {
    background-color: #ed9532;
    color: #fff;
    border: 0; }

/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
/*
 * @package themecentury
 * @subpackage hamroclass
 * @since 1.0.0
 */
body .tribe-events-list-widget .tribe-list-widget.layout2, body .tribe-events-list-widget .tribe-list-widget.layout3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px; }

body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #f1f1f1;
  background: 0 0;
  position: relative;
  padding: 30px 250px 30px 125px;
  min-height: 100px; }
  body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events.no-thumbnail {
    padding-left: 0; }
  body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events:last-child {
    margin-bottom: 30px;
    border-bottom: 0; }
  body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
         transform: translateY(-50%);
    left: 0; }
    body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-image img {
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%); }
  body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-duration {
    width: 225px;
    padding-left: 25px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
         transform: translateY(-50%);
    border-left: 1px solid #f1f1f1; }
    body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-duration span {
      position: relative;
      padding-left: 15px; }
      body .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-duration span:before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: FontAwesome;
        line-height: 1; }

body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events,
body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events {
  padding: 20px;
  border-width: 1px;
  margin: 0 15px 30px;
  text-align: center; }
  body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events:last-child,
  body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events:last-child {
    border-bottom: 1px solid #f1f1f1; }
  body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events .tribe-event-image, body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events .tribe-event-image img,
  body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events .tribe-event-image,
  body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events .tribe-event-image img {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
     -ms-transform: translateY(0);
      -o-transform: translateY(0);
         transform: translateY(0);
    left: 0;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 0; }
  body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events .tribe-event-duration,
  body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events .tribe-event-duration {
    width: 100%;
    padding-left: 0;
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
     -ms-transform: translateY(0);
      -o-transform: translateY(0);
         transform: translateY(0);
    border-left: 0; }

body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events {
  width: -moz-calc(50% - 30px);
  width: calc(50% - 30px); }
  body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events:nth-of-last-type(1), body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events:nth-of-last-type(2) {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events {
      width: -moz-calc(100% - 30px);
      width: calc(100% - 30px); }
      body .tribe-events-list-widget .tribe-list-widget.layout2 li.tribe-events-list-widget-events:nth-of-last-type(2) {
        margin-bottom: 30px; } }

body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events {
  width: -moz-calc(33.33% - 30px);
  width: calc(33.33% - 30px); }
  body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events:nth-of-last-type(1), body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events:nth-of-last-type(2), body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events:nth-of-last-type(3) {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events {
      width: -moz-calc(100% - 30px);
      width: calc(100% - 30px); }
      body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events:nth-of-last-type(2), body .tribe-events-list-widget .tribe-list-widget.layout3 li.tribe-events-list-widget-events:nth-of-last-type(3) {
        margin-bottom: 30px; } }

body .tribe-events-list-widget .tribe-list-widget .hamroclass-event-description p {
  margin: 0; }

.tribe-events-widget-link {
  text-align: right; }

/**/
body .sidebar-main-area .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events, body .footer-sidebar-area .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events {
  padding: 15px; }
  body .sidebar-main-area .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-image, body .footer-sidebar-area .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-image {
    position: static;
    margin: 0 auto 10px;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); }
  body .sidebar-main-area .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-duration, body .footer-sidebar-area .tribe-events-list-widget .tribe-list-widget li.tribe-events-list-widget-events .tribe-event-duration {
    position: static;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    border: 0; }
/*# sourceMappingURL=theeventcalendar.css.map */
